@model AfroDungeonAndDragons.Models.CharacterCreator.Background
@{
    ViewBag.Title = Model.Name;
}
<div>
    <h2><b>@Model.Name</b></h2>
</div>
<div>
    <p>@Model.Introduction</p>
</div>
<div>
    <p>@Model.SkillProficienciesDescription</p>
    <p>@Model.ToolProficienciesDescription</p>
    <p>@Model.EquipmentDescriptions</p>
</div>
<div>
    <p>@Model.FeatureName</p>
    <p>@Model.FeatureDescription</p>
</div>
<div>
    <p>@Model.SuggestedCharcteristicsDescription</p>
</div>
<div>
    <p>@Model.SpellListExtendedDescription</p>
</div>