@model AfroDungeonAndDragons.Models.CharacterCreator.Background
@{
    ViewBag.Title = Model.Name;
}
<div class="line_row">
    <div class="line_text">
        <a asp-controller="Home" asp-action="Index">Главная</a>
    </div>
    <div class="line_arrow"></div>
    <div class="line_text">
        <a asp-controller="BackgroundCreator" asp-action="Backgrounds">Предыстории</a>
    </div>
    <div class="line_arrow"></div>
    <div class="line_text">
        @Model.Name
    </div>
</div>
<div class="about_race_container">
    <div class="all_content_row">
        <div class="upper_page_body_title">
            <h2><b>@Model.Name</b></h2>
        </div>
        <div class="content_short_description">
            @Html.Raw(Model.Introduction)
        </div>
        @if (Model.SkillProficienciesDescription != null || Model.ToolProficienciesDescription != null || Model.LanguagesDescription != null || Model.EquipmentDescriptions != null)
        {
            <div>
                @if (Model.SkillProficienciesDescription != null)
                {
                    <div class="content_text">
                        <p><b>Владение навыками: </b>@Html.Raw(Model.SkillProficienciesDescription)</p>
                    </div>
                }
                @if (Model.ToolProficienciesDescription != null)
                {
                    <div class="content_text">
                        <p><b>Владение инструментами: </b>@Html.Raw(Model.ToolProficienciesDescription)</p>
                    </div>
                }
                @if (Model.LanguagesDescription != null)
                {
                    <div class="content_text">
                        <p><b>Языки: </b>@Html.Raw(Model.LanguagesDescription)</p>
                    </div>
                }
                @if (Model.EquipmentDescriptions != null)
                {
                    <div class="content_text">
                        <p><b>Снаряжение: </b>@Html.Raw(Model.EquipmentDescriptions)</p>
                    </div>
                }
            </div>
        }
        @if (Model.BackgroundSpecificDescription != null)
        {
            <div>
                <div class="content_text">
                    <p>@Html.Raw(Model.BackgroundSpecificDescription)</p>
                </div>
            </div>
        }
        @if (Model.FeatureDescription != null)
        {
            <div class="content_text">
                <p>@Html.Raw(Model.FeatureDescription)</p>
            </div>
        }
        @if (Model.SuggestedCharcteristicsDescription != null)
        {
            <div>
                <div class="content_title">
                    <h4>ПЕРСОНАЛИЗАЦИЯ</h4>
                </div>
                <div class="content_text">
                    <p>@Html.Raw(Model.SuggestedCharcteristicsDescription)</p>
                </div>
            </div>
        }
        @if (Model.SpellListExtendedDescription != null)
        {
            <div class="content_text">
                <p>@Html.Raw(Model.SpellListExtendedDescription)</p>
            </div>
        }
        @if (Model.BackgroundVariantDescription != null)
        {
            <div class="content_text">
                <p>@Html.Raw(Model.BackgroundVariantDescription)</p>
            </div>
        }
        <div class="content_button_body">
            <a asp-action="UpdateBackground" asp-controller="BackgroundCreator" asp-route-id="@Model.Id">Изменить предысторию</a>
            <a asp-action="DeleteBackground" asp-controller="BackgroundCreator" asp-route-id="@Model.Id">Удалить предысторию</a>
        </div>
    </div>
</div>