@using AfroDungeonAndDragons.Models.CharacterCreator
@model IEnumerable<Background>
@{
    ViewBag.Title = "Список предысторий";
}
<a asp-action="CreateBackground">Создать предысторию</a>
@foreach (var background in Model)
{
    <div>
        <p><h3><b><a asp-action="AboutBackground" asp-controller="BackgroundCreator" asp-route-id="@background.Id">@background.Name</a></b></h3></p>
        <p>@background.Introduction</p>
        <p>@background.SpellListIntroductionDescription</p>
        <a asp-action="UpdateBackground" asp-controller="BackgroundCreator" asp-route-id="@background.Id">Изменить предысторию</a>
        <a asp-action="DeleteBackground" asp-controller="BackgroundCreator" asp-route-id="@background.Id">Удалить предысторию</a>
    </div>
}
