@{
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="main_page_content_row">
    <div class="main_page_main_content">
        <div class="main_page_main_content_body">
            <div class="main_page_main_content_body_image">
                <img src='@Url.Content("~/pictures/test.png")' />
            </div>
            <div class="main_page_main_content_body_title">
                Блок первый титул
            </div>
            <div class="main_page_main_content_body_text">
                Блок первый текст
            </div>
        </div>
        <div class="main_page_main_content_body">
            <div class="main_page_bottom_content_body_image">
                <img src='@Url.Content("~/pictures/test.png")' />
            </div>
            <div class="main_page_main_content_body_title">
                Блок второй титул
            </div>
            <div class="main_page_main_content_body_text">
                Блок второй текст
            </div>
        </div>
    </div>
    <div class="main_page_bottom_content">
        <div class="main_page_bottom_content_body">
            <div class="main_page_bottom_content_body_image">
                <img src='@Url.Content("~/pictures/test.png")' />
            </div>
            <div class="main_page_bottom_content_body_title">
                Блок третий титул
            </div>
            <div class="main_page_bottom_content_body_text">
                Блок третий текст
            </div>
        </div>
        <div class="main_page_bottom_content_body">
            <div class="main_page_bottom_content_body_image">
                <img src='@Url.Content("~/pictures/test.png")' />
            </div>
            <div class="main_page_bottom_content_body_title">
                Блок четвёртый титул
            </div>
            <div class="main_page_bottom_content_body_text">
                Блок четвёртый текст
            </div>
        </div>
        <div class="main_page_bottom_content_body">
            <div class="main_page_bottom_content_body_image">
                <img src='@Url.Content("~/pictures/test.png")' />
            </div>
            <div class="main_page_bottom_content_body_title">
                Блок пятый титул
            </div>
            <div class="main_page_bottom_content_body_text">
                Блок пятый текст
            </div>
        </div>
    </div>
</div>