@model AfroDungeonAndDragons.Models.CharacterCreator.Race

@{
    ViewBag.Title = Model.Name;
}
<div>
    <h1>@Model.Name</h1>
</div>
<div>
    <p>@Model.ShortDescription</p>
</div>
@if (Model.LitratureDescription != null)
{
    <div>
        <p>@Html.Raw(Model.LitratureDescription)</p>
    </div>
}
@if (Model.Description != null)
{
    <div>
        <h2><b>Описание расы @Model.Name</b></h2>
        <p>@Html.Raw(Model.Description)</p>
    </div>
}
@if (Model.NamesDescription != null || Model.NamesMan != null || Model.NamesFemale != null || Model.NamesClan != null)
{
    <div>
        <h2><b>Имена</b></h2>
        @if (Model.NamesDescription != null)
        {
            <p>@Html.Raw(Model.NamesDescription)</p>
        }
        @if (Model.NamesMan != null)
        {
            <p><b>Мужские имена: </b>@Model.NamesMan</p>
        }
        @if (Model.NamesFemale != null)
        {
            <p><b>Женские имена: </b>@Model.NamesFemale</p>
        }
        @if (Model.NamesClan != null)
        {
            <p><b>Названия кланов: </b>@Model.NamesClan</p>
        }
    </div>
}
@if (Model.RacialTraitDescription != null || Model.RacialCharacteristics != null || Model.RacialAge != null || Model.RacialIdeology != null || Model.RaceSize != null || Model.RaceSpeed != null || Model.RacialSpellDescription != null || Model.RacialLanguages != null)
{
    <div>
        <p><h2><b>Особенности расы</b></h2></p>
        @if (Model.RacialTraitDescription != null)
        {
            <p>@Html.Raw(Model.RacialTraitDescription)</p>
        }
        @if (Model.RacialCharacteristics != null)
        {
            <p><b>Увеличение характеристик: </b>@Model.RacialCharacteristics</p>
        }
        @if (Model.RacialAge != null)
        {
            <p><b>Возраст: </b>@Model.RacialAge</p>
        }
        @if (Model.RacialIdeology != null)
        {
            <p><b>Мировоззрение: </b>@Model.RacialIdeology</p>
        }
        @if (Model.RaceSize != null)
        {
            <p><b>Размер: </b>@Model.RaceSize</p>
        }
        @if (Model.RaceSpeed != null)
        {
            <p><b>Скорость: </b>@Model.RaceSpeed</p>
        }
        @if (Model.RacialSpellDescription != null)
        {
            <p>@Html.Raw(Model.RacialSpellDescription)</p>
        }
        @if (Model.RacialLanguages != null)
        {
            <p><b>Языки: </b>@Model.RacialLanguages</p>
        }
    </div>
}
@if (Model.SubraceDescription != null || Model.SubraceFeatureDescription != null)
{
    <div>
        <h2><b>Разновидности расы @Model.Name</b></h2>
        @if (Model.SubraceDescription != null)
        {
            <p>@Html.Raw(Model.SubraceDescription)</p>
        }
        @if (Model.SubraceFeatureDescription != null)
        {
            <h2>Увеличение характеристик</h2>
            <p>@Html.Raw(Model.SubraceFeatureDescription)</p>
        }
    </div>
}
<div>
    <a asp-action="UpdateRace" asp-controller="RaceCreator" asp-route-id="@Model.Id">Изменить расу</a>
    <a asp-action="DeleteRace" asp-controller="RaceCreator" asp-route-id="@Model.Id">Удалить расу</a>
</div>