@using AfroDungeonAndDragons.Models.CharacterCreator
@model IEnumerable<Race>
@{
    ViewData["Title"] = "Расы";
}
<a asp-action="CreateRace">Создать расу</a>
@foreach (var race in Model)
{
    <div>
        <p><a asp-action="AboutRace" asp-controller="RaceCreator" asp-route-id="@race.Id">@race.Name</a></p>
        <p>@race.ShortDescription</p>
        <p>@race.ShortRacialTraitDescription</p>
        <a asp-action="UpdateRace" asp-controller="RaceCreator" asp-route-id="@race.Id">Изменить расу</a>
        <a asp-action="DeleteRace" asp-controller="RaceCreator" asp-route-id="@race.Id">Удалить расу</a>
    </div>
}