<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="wrapper">
        <header class="mainHeader">
            <div>
                <div class="headerLogo"></div>
            </div>
            <div>

            </div>
        </header>
        <nav class="mainNavigation">
            <div class="divNavigation">
                <details>
                    <summary>Игровые правила</summary>
                    <ul>
                        <li>@Html.ActionLink("Расы", "Index", "Races")</li>
                        <li><a href="">Классы</a></li>
                        <li><a href="">Предыстории</a></li>
                        <li><a href="">Черты</a></li>
                        <li><a href="">Заклинания и заговоры</a></li>
                        <li><a href="">Монстры</a></li>
                        <li><a href="">Предметы</a></li>
                        <li><a href="">Магические предметы</a></li>
                        <li><a href="">Транспорт</a></li>
                    </ul>
                </details>
                <details>
                    <summary>Домашние заготовочки</summary>
                    <ul>
                        <li>@Html.ActionLink("Расы", "Races", "RaceCreator")</li>
                        <li><a href="">Классы</a></li>
                        <li><a href="">Предыстории</a></li>
                        <li><a href="">Черты</a></li>
                        <li><a href="">Заклинания и заговоры</a></li>
                        <li><a href="">Монстры</a></li>
                        <li><a href="">Предметы</a></li>
                        <li><a href="">Магические предметы</a></li>
                        <li><a href="">Транспорт</a></li>
                    </ul>
                </details>
            </div>
        </nav>
        <main class="mainContent">
            <div class="divContent">
                @RenderBody()
            </div>
        </main>
        <footer class="mainFooter">
            <div class="leftSideFooter">
                2021 - AfroDungeonAndDragons<br />
                Приятной игры всем любителям D&D!
            </div>
            <div class="rightSideFooter">
                
                <a href="#">Ссылка</a>
                <a href="#">Ссылка</a>
                <a href="#">Ссылка</a>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
