<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/all_pages.css" />
    <link rel="stylesheet" href="~/css/content.css" />
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header_row">
                    <div class="header_logo">
                        <a href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/pictures/HeaderLogo.png")' />
                        </a>
                    </div>
                    <div class="header_socialMedia">
                        <a href="https://vk.com/afester24"><img src='@Url.Content("~/pictures/Vk.png")' /></a>
                        <a href="https://github.com/Afester96"><img src='@Url.Content("~/pictures/Github.png")' /></a>
                    </div>
                    <div class="header_notifications">
                        <a href='@Url.Action("", "")'>
                            <img src='@Url.Content("~/pictures/Bell.png")' />
                        </a>
                    </div>
                    <div class="header_account">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            <button class="header_account_dropbtn">@User.Identity.Name</button>
                            <div class="header_account_dropdown_content">
                                @Html.ActionLink("Профиль", "", "")
                                @Html.ActionLink("Аккаунт", "", "")
                                @Html.ActionLink("Персонажи", "", "")
                                @Html.ActionLink("Выйти", "Logout", "Account")
                            </div>
                        }
                         @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <button class="header_account_dropbtn">@User.Identity.Name</button>
                            <div class="header_account_dropdown_content">
                                @Html.ActionLink("Профиль", "", "")
                                @Html.ActionLink("Аккаунт", "", "")
                                @Html.ActionLink("Персонажи", "", "")
                                @Html.ActionLink("Выйти", "Logout", "Account")
                            </div>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <button class="header_account_dropbtn">Аутентификация</button>
                            <div class="header_account_dropdown_content">
                                @Html.ActionLink("Регистрация", "Register", "Account")
                                @Html.ActionLink("Авторизация", "Login", "Account")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </header>
        <menu class="menu">
            <div class="container">
                <div class="menu_row">
                    <div class="menu_body">
                        <button class="menu_dropbtn">Игровые правила</button>
                        <div class="menu_dropdown_content">
                            @Html.ActionLink("Расы", "AllRaces", "Races")
                            @Html.ActionLink("Классы", "AllClasses", "Classes")
                            @Html.ActionLink("Предыстории", "AllBackgrounds", "Backgrounds")
                        </div>
                    </div>
                    <div class="menu_body">
                        <button class="menu_dropbtn">Кастомные игровые правила</button>
                        <div class="menu_dropdown_content">
                            @Html.ActionLink("Кастомные расы", "Races", "RaceCreator")
                            @Html.ActionLink("Кастомные классы", "Classes", "ClassCreator")
                            @Html.ActionLink("Кастомные предыстории", "Backgrounds", "BackgroundCreator")
                        </div>
                    </div>
                </div>
            </div>
        </menu>
        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer_row">
                    <div class="footer_info">
                        <p>2021 - AfroDungeonAndDragons</p>
                        <p>Приятной игры всем любителям D&D!</p>
                    </div>
                    <div class="footer_media">
                        <a href="https://github.com/Afester96">GitHub</a>
                        <a href="https://vk.com/afester24">VK</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
