@model AfroDungeonAndDragons.Models.CharacterCreator.Class
@{
    ViewBag.Title = @Model.Name;
}
<div>
    <h2><b>@Model.Name</b></h2>
</div>
@if (Model.LitratureDescription != null)
{
    <div>
        <p>@Html.Raw(Model.LitratureDescription)</p>
    </div>
}
<div>
    <p>@Html.Raw(Model.ShortDescription)</p>
</div>
@if (Model.Description != null)
{
    <div>
        <h4>Описание</h4>
        <p>@Html.Raw(Model.Description)</p>
    </div>
}
@if (Model.ClassCreationDescription != null || Model.ClassCreationTable != null)
{
    <div>
        <h4>Создание класса @Model.Name</h4>
        @if (Model.ClassCreationDescription != null)
        {
            <p>@Html.Raw(Model.ClassCreationDescription)</p>
        }
        @if (Model.ClassCreationTable != null)
        {
            <p>@Html.Raw(Model.ClassCreationTable)</p>
        }
    </div>
}
@if (Model.QuickBuild != null || Model.Multiclass != null)
{
    <div>
        @if (Model.QuickBuild != null)
        {
            <h4>Быстрое создание</h4>
            <p>@Html.Raw(Model.QuickBuild)</p>
        }
        @if (Model.Multiclass != null)
        {
            <h4>Мультиклассирование и @Model.Name</h4>
            <p>@Html.Raw(Model.Multiclass)</p>
        }
    </div>
}
@if (Model.HitDice != null || Model.HitPointsAtFirstLevel != null || Model.HitPointsAtHigherLevels != null || Model.Armor != null || Model.Weapons != null ||
Model.Tools != null || Model.SavingThrows != null || Model.Skills != null || Model.Equipment != null)
{
    <div>
        <h4>КЛАССОВЫЕ УМЕНИЯ</h4>
        @if (Model.HitDice != null || Model.HitPointsAtFirstLevel != null || Model.HitPointsAtHigherLevels != null)
        {
            <h4>Хиты</h4>
            @if (Model.HitDice != null)
            {
                <p><b>Кость Хитов: </b>@Model.HitDice</p>
            }
            @if (Model.HitPointsAtFirstLevel != null)
            {
                <p><b>Хиты на 1 уровне: </b>@Model.HitPointsAtFirstLevel</p>
            }
            @if (Model.HitPointsAtHigherLevels != null)
            {
                <p><b>Хиты на следующих уровнях: </b>@Model.HitPointsAtHigherLevels</p>
            }
        }
        @if (Model.Armor != null || Model.Weapons != null || Model.Tools != null || Model.SavingThrows != null || Model.Skills != null || Model.Equipment != null)
        {
            <h4>Владение</h4>
            @if (Model.Armor != null)
            {
                <p><b>Доспехи: </b>@Model.Armor</p>
            }
            @if (Model.Weapons != null)
            {
                <p><b>Оружие: </b>@Model.Weapons</p>
            }
            @if (Model.Tools != null)
            {
                <p><b>Инструменты: </b>@Model.Tools</p>
            }
            @if (Model.SavingThrows != null)
            {
                <p><b>Спасброски: </b>@Model.SavingThrows</p>
            }
            @if (Model.Skills != null)
            {
                <p><b>Навыки: </b>@Model.Skills</p>
            }
            @if (Model.Equipment != null)
            {
                <h4>Снаряжение</h4>
                <p>@Html.Raw(Model.Equipment)</p>
            }
        }
    </div>
}

@if (Model.ClassSpells != null)
{
    <div>
        <h4>ИСПОЛЬЗОВАНИЕ ЗАКЛИНАНИЙ</h4>
        <p>@Html.Raw(Model.ClassSpells)</p>
    </div>
}
@if (Model.TypeTitle != null || Model.TypeDescriprion != null || Model.VariantDescription != null)
{
    <div>
        @if (Model.TypeTitle != null)
        {
            <h4>@Model.TypeTitle</h4>
        }
        @if (Model.TypeDescriprion != null)
        {
            <p>@Model.TypeDescriprion</p>
        }
        @if (Model.VariantDescription != null)
        {
            <p>@Html.Raw(Model.VariantDescription)</p>
        }
    </div>
}
<div>
    <a asp-action="UpdateClass" asp-controller="ClassCreator" asp-route-id="@Model.Id">Изменить класс</a>
    <a asp-action="DeleteClass" asp-controller="ClassCreator" asp-route-id="@Model.Id">Удалить класс</a>
</div>