@model AfroDungeonAndDragons.Models.CharacterCreator.Class
@{
    ViewBag.Title = @Model.Name;
}
<div class="line_row">
    <div class="line_text">
        <a asp-controller="Home" asp-action="Index">Главная</a>
    </div>
    <div class="line_arrow"></div>
    <div class="line_text">
        <a asp-controller="ClassCreator" asp-action="Classes">Классы</a>
    </div>
    <div class="line_arrow"></div>
    <div class="line_text">
        @Model.Name
    </div>
</div>
<div class="about_race_container">
    <div class="all_content_row">
        <div class="upper_page_body_title">
            <h2><b>@Model.Name</b></h2>
        </div>
        @if (Model.LitratureDescription != null)
        {
            <div class="content_litrature_description">
                <p>@Html.Raw(Model.LitratureDescription)</p>
            </div>
        }
        <div class="content_short_description">
            <p>@Html.Raw(Model.ShortDescription)</p>
        </div>
        @if (Model.Description != null)
        {
            <div>
                <div class="content_title">
                    <h4>ОПИСАНИЕ</h4>
                </div>
                <div class="content_text">
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
        }
        @if (Model.ClassCreationDescription != null || Model.ClassCreationTable != null)
        {
            <div>
                <div class="content_title">
                    <h4>СОЗДАНИЕ КЛАССА @Model.Name.ToUpper()</h4>
                </div>
                @if (Model.ClassCreationDescription != null)
                {
                    <div class="content_text">
                        <p>@Html.Raw(Model.ClassCreationDescription)</p>
                    </div>
                }
                @if (Model.ClassCreationTable != null)
                {
                    <div class="content_text">
                        <p>@Html.Raw(Model.ClassCreationTable)</p>
                    </div>
                }
            </div>
        }
        @if (Model.QuickBuild != null || Model.Multiclass != null)
        {
            <div>
                @if (Model.QuickBuild != null)
                {
                    <div class="content_title">
                        <h4>БЫСТРОЕ СОЗДАНИЕ</h4>
                    </div>
                    <div class="content_text">
                        <p>@Html.Raw(Model.QuickBuild)</p>
                    </div>
                }
                @if (Model.Multiclass != null)
                {
                    <div class="content_title">
                        <h4>МУЛЬТИКЛАССИРОВАНИЕ И @Model.Name.ToUpper()</h4>
                    </div>
                    <div class="content_text">
                        <p>@Html.Raw(Model.Multiclass)</p>
                    </div>
                }
            </div>
        }
        @if (Model.HitDice != null || Model.HitPointsAtFirstLevel != null || Model.HitPointsAtHigherLevels != null || Model.Armor != null || Model.Weapons != null ||
     Model.Tools != null || Model.SavingThrows != null || Model.Skills != null || Model.Equipment != null)
        {
            <div>
                <div class="content_title_without_border">
                    <h4>КЛАССОВЫЕ УМЕНИЯ</h4>
                </div>
                @if (Model.HitDice != null || Model.HitPointsAtFirstLevel != null || Model.HitPointsAtHigherLevels != null)
                {
                    <div class="content_title">
                        <h4>ХИТЫ</h4>
                    </div>
                    @if (Model.HitDice != null)
                    {
                        <div class="content_text">
                            <p><b>Кость Хитов: </b>@Model.HitDice</p>
                        </div>
                    }
                    @if (Model.HitPointsAtFirstLevel != null)
                    {
                        <div class="content_text">
                            <p><b>Хиты на 1 уровне: </b>@Model.HitPointsAtFirstLevel</p>
                        </div>
                    }
                    @if (Model.HitPointsAtHigherLevels != null)
                    {
                        <div class="content_text">
                            <p><b>Хиты на следующих уровнях: </b>@Model.HitPointsAtHigherLevels</p>
                        </div>
                    }
                }
                @if (Model.Armor != null || Model.Weapons != null || Model.Tools != null || Model.SavingThrows != null || Model.Skills != null || Model.Equipment != null)
                {
                    <div class="content_title">
                        <h4>ВЛАДЕНИЕ</h4>
                    </div>
                    @if (Model.Armor != null)
                    {
                        <div class="content_text">
                            <p><b>Доспехи: </b>@Model.Armor</p>
                        </div>
                    }
                    @if (Model.Weapons != null)
                    {
                        <div class="content_text">
                            <p><b>Оружие: </b>@Model.Weapons</p>
                        </div>
                    }
                    @if (Model.Tools != null)
                    {
                        <div class="content_text">
                            <p><b>Инструменты: </b>@Model.Tools</p>
                        </div>
                    }
                    @if (Model.SavingThrows != null)
                    {
                        <div class="content_text">
                            <p><b>Спасброски: </b>@Model.SavingThrows</p>
                        </div>
                    }
                    @if (Model.Skills != null)
                    {
                        <div class="content_text">
                            <p><b>Навыки: </b>@Model.Skills</p>
                        </div>
                    }
                    @if (Model.Equipment != null)
                    {
                        <div class="content_title">
                            <h4>СНАРЯЖЕНИЕ</h4>
                        </div>
                        <div class="content_text">
                            <p>@Html.Raw(Model.Equipment)</p>
                        </div>
                    }
                }
            </div>
        }

        @if (Model.ClassSpells != null)
        {
            <div>
                <div class="content_title">
                    <h4>ИСПОЛЬЗОВАНИЕ ЗАКЛИНАНИЙ</h4>
                </div>
                <div class="content_text">
                    <p>@Html.Raw(Model.ClassSpells)</p>
                </div>
            </div>
        }
        @if (Model.TypeTitle != null || Model.TypeDescriprion != null || Model.VariantDescription != null)
        {
            <div>
                @if (Model.TypeTitle != null)
                {
                    <div class="content_title">
                        <h4>@Model.TypeTitle.ToUpper()</h4>
                    </div>
                }
                @if (Model.TypeDescriprion != null)
                {
                    <div class="content_text">
                        <p>@Model.TypeDescriprion</p>
                    </div>
                }
                @if (Model.VariantDescription != null)
                {
                    <div class="content_text">
                        <p>@Html.Raw(Model.VariantDescription)</p>
                    </div>
                }
            </div>
        }
        <div class="content_button_body">
            <a asp-action="UpdateClass" asp-controller="ClassCreator" asp-route-id="@Model.Id">Изменить класс</a>
            <a asp-action="DeleteClass" asp-controller="ClassCreator" asp-route-id="@Model.Id">Удалить класс</a>
        </div>
    </div>
</div>