@using AfroDungeonAndDragons.Models.CharacterCreator
@model IEnumerable<Class>
@{
    ViewData["Title"] = "Классы";
}
<a asp-action="CreateClass">Создать класс</a>
@foreach (var cl in Model)
{
    <div>
        <p><a asp-action="AboutClass" asp-controller="ClassCreator" asp-route-id="@cl.Id">@cl.Name</a></p>
        <p>@cl.ShortDescription</p>
        <a asp-action="UpdateClass" asp-controller="ClassCreator" asp-route-id="@cl.Id">Изменить класс</a>
        <a asp-action="DeleteClass" asp-controller="ClassCreator" asp-route-id="@cl.Id">Удалить класс</a>
    </div>
}