@model AfroDungeonAndDragons.Models.DefaultInformation.DefaultBackground
@{
    ViewBag.Title = Model.Name;
}
<div>
    <h2><b>@Model.Name</b></h2>
</div>
<div>
    @Html.Raw(Model.Introduction)
</div>
<div>
    <p><b>Владение навыками: </b>@Html.Raw(Model.SkillProficienciesDescription)</p>
    @if (Model.ToolProficienciesDescription != null)
    {
        <p><b>Владение инструментами: </b>@Html.Raw(Model.ToolProficienciesDescription)</p>
    }
    @if (Model.LanguagesDescription != null)
    {
        <p><b>Языки: </b>@Html.Raw(Model.LanguagesDescription)</p>
    }
    <p><b>Снаряжение: </b>@Html.Raw(Model.EquipmentDescriptions)</p>
</div>
@if (Model.BackgroundSpecificName != null || Model.BackgroundSpecificDescription != null)
{
    <div>
        <h4>@Model.BackgroundSpecificName</h4>
        <p>@Html.Raw(Model.BackgroundSpecificDescription)</p>
    </div>
}
@if (Model.FeatureName != null || Model.FeatureDescription != null)
{
    <div>
        <h4>УМЕНИЕ: @Model.FeatureName</h4>
        <p>@Html.Raw(Model.FeatureDescription)</p>
    </div>
}
<div>
    <h4>ПЕРСОНАЛИЗАЦИЯ</h4>
    <p>@Html.Raw(Model.SuggestedCharcteristicsDescription)</p>
</div>
@if (Model.SpellListIntroductionDescription != null || Model.SpellListExtendedDescription != null)
{
    <div>
        <p>@Html.Raw(Model.SpellListIntroductionDescription)</p>
        <p>@Html.Raw(Model.SpellListExtendedDescription)</p>
    </div>
}
@if (Model.BackgroundVariantName != null)
{
    <div>
        <h4>@Model.BackgroundVariantName</h4>
        <p>@Html.Raw(Model.BackgroundVariantDescription)</p>
    </div>
    <div>
        <h4>@Model.FeatureVariantName</h4>
        <p>@Model.FeatureVariantDescription</p>
    </div>
}
<div>
    <p>@Model.FromBook</p>
</div>